* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

a {
	text-decoration: none;
}

h2 {
	margin: 10px auto 10px;
}

.header,
.panel-heading,
.panel-body,
.btn,
h2 {
	font-family: arial, sans-serif;
}

.header,
.panel-heading,
.panel-body,
.btn {
	text-align: center;
}

.panel,
.panel-heading,
.panel-body,
.btn {
	border-radius: 5px;
}

.panel-heading,
.btn {
	color: #fff;
	font-size: 1.2em;
}

.container {
	margin: 0 auto;
	width: 80%;
}

.header {
	color: tomato;
	font-size: 2.2em;
	margin-top: 30px;
	text-shadow: 2px 2px 2px #ccc;
	text-transform: uppercase;
}

.panel {
	float: left;
	border: 1px solid #ccc;
	margin: 50px 2.5% 0;
	width: 25%;
}

.panel-heading {
	background-color: tomato;
	margin-bottom: 10px;	
	padding: 5px 0;
}

.panel-body {
	color: #44444f;
	font-size: 1em;
	margin: 0 2px;
}

.btn {
	background-color: #003333;
	display: block;
    margin: 10px auto 10px;
    padding: 5px;
    width: 40%;
}

