* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.header,
.panel-heading,
.panel-body {
	font-family: arial, sans-serif;
}

.panel-heading,
.btn {
	color: #fff;
	font-size: 1.2em;
}

.header {
	color: tomato;
	font-size: 2.2em;
	margin-top: 30px;
	text-align: center;
	text-shadow: 2px 2px 2px #ccc;
	text-transform: uppercase;
}

.panel {
	/* float: left; */
	border: 1px solid #ccc;
	border-radius: 20px;
	margin: 50px auto 0;
	width: 25%;
}

.panel-heading {
	background-color: tomato;	
}

.panel-body {
	color: #44444f;
	font-size: 1em;
}

.btn {
	background-color: #003333;
}

